{% extends 'base.html.twig' %} {% block title %}Sign Up {% endblock %} {% block body %}
<div class="row">
    <div class="offset-2 col-md-8">
        <h1>FORMULAIRE D'INSCRIPTION</h1>
        {{form_start(form)}} {{form_widget(form)}}
        <button type="submit" class="btn btn-primary">Inscription</button>
        {{form_end(form)}}
    </div>
</div>
{% endblock %}